<!DOCTYPE html>
<html>
<head>
  <title>ProficiencyTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class='panel-heading'>
      <h1 class='panel-title'> School App</h3>
    </div>
    <h1></h1>
    <div class='container'>
      <nav class='navbar navbar-default'>
        <div class='container-fluid'>
          <ul class='nav navbar-nav'>
            <li> <%= link_to "Home", root_path %>
            <li> <%= link_to "Student", students_path %>
            <li> <%= link_to "Course", courses_path %>
            <li> <%= link_to "New Enrollment", enrollments_new_path %>
          </ul>
        </div>
      </nav>
    </div>
  </header>

  <div id="main">
    <div class='container'>
      <%= yield %>
    </div>
  </div>

  <footer>
    <div class='panel-footer'>
      2016 - http://rocky-beyond-26838.herokuapp.com/
    </div>
  </footer>
</body>
</html>
