<!DOCTYPE html>
<html>
<head>
  <title>ProficiencyTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <head>
    <h1>School App</h1>
    <%= link_to 'Home', root_path %>
    <%= link_to 'Student', students_path %>
    <%= link_to 'Course', courses_path %>
    <%= link_to 'Enrollment', enrollments_new_path %>
    <hr>
  </head>

  <div id="main">
    <%= yield %>
  </div>

  <footer>
    <hr>
    2016 - http://rocky-beyond-26838.herokuapp.com/
  </footer>
</body>
</html>
